{% extends "base.html.twig" %}

{% block title %}Nuevo departamento{% endblock %}

{% block body %}
    <h1>Nuevo departamento</h1>
    <div class="col-12">
        {{ include("departamentos/_formulario.html.twig") }}
        <a href="{{ path("departamentos_index") }}" class="btn btn-secondary">Volver atras</a>
    </div>
{% endblock %}
